<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

<property name="DEV_HOME" value="C:/Users/comeo/Desktop/ProjectAPI/APIClient/logs" />

<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/ApiRest-Client.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${DEV_HOME}/ApiRest-Client.%d{yyyy-MM-dd}.%i.log</fileNamePattern>				
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
	
	<logger name="com.AleGla.APIClient" level="info"
		additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE"/>
	</logger>

	<root level="info">
		<appender-ref ref="FILE" />
	    <appender-ref ref="CONSOLE"/>
    </root>

    
</Configuration>